<h1>Google Analytics Opt-In POC</h1>

<p>Currently Google Analytics is <b>{{(googleAnalyticsService.enabled | async) ? 'enabled' : 'disabled'}}</b></p>
<p>You will <b *ngIf="(googleAnalyticsService.neverAskAgain | async)">NOT </b> be asked for your preferences after page reloads</p>

<p class="button-bar">
  <button mat-raised-button color="primary" (click)="openPopup()">Change Settings</button>
  <button mat-raised-button (click)="refresh()">Refresh Page</button>
</p>

<ng-container *ngIf="googleAnalyticsService.enabled | async">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49802232-2"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-49802232-2');
  </script>
</ng-container>
