/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0 1rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button-bar {
  > button:not(:first-child) {
    margin-left: 1rem;
  }
}
